<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1501784050997-975d9fdb56d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3150&q=80);">
  <div class="container">
    <h1>Cocktail App</h1>
    <p>Find cocktails. Make them. Drink them.</p>
    <a class="btn btn-ghost float-right" href="/cocktails/new">Create your own cocktail</a>
    <a class="btn btn-ghost float-right mr-3" href="#all_cocktails">View cocktails</a>
  </div>
</div>


<div class="container">
  <h1 id="all_cocktails">All cocktails</h1>
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
        <div class="card m-2" style="width: 18rem;">
          <% if cocktail.photo.attached? %>
            <%= cl_image_tag cocktail.photo.key, :class => "card-img-top" %>
          <% else %>
            <img src=<%= "https://source.unsplash.com/1600x900/?cocktail,#{cocktail.name}" %> class="card-img-top" alt="...">
          <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= cocktail.name.capitalize %></h5>
          <%= link_to 'View', cocktail_path(cocktail), class: 'btn btn-card float-right' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
