// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.new-cocktail-form {
  box-shadow: 0 1px 20px rgba(0,0,0,0.2);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

// .create {
//   background: linear-gradient(red, blue);
// }
